body {background-color: green;}
h1 { color: brown; }
p {border-style: double;}
body {margin-left:04%;}
h3 {font-size: 60px;} h3 {color: cyan;}
body {border-style: outset;}
h3 { padding: 65px 50px 75px 100px; }
